{% load staticfiles %}

<!-- Меню справа-->
<div class="box-right">
    <div class="cart hover-menu">
        <p class="icon-cart" title="Add to cart">
            <i class="icon"></i>
            <span class="cart-count">2</span>
        </p>
        <div class="cart-list list-menu">
            <ul class="list">
                <li>
                    <a href="home_v1.html#" title="" class="cart-product-image"><img
                            src="{% static 'assets/images/products/1.jpg' %}" alt="Product"></a>
                    <div class="text">
                        <p class="product-name">Union Bed</p>
                        <p class="product-price"><span class="price-old">$700.00</span><span
                                class="price">$350.00</span></p>
                        <p class="qty">QTY:01</p>
                    </div>
                    <a class="close" href="home_v1.html#" title="close"><i class="fa fa-times-circle"></i></a>
                </li>
                <li>
                    <a href="home_v1.html#" title="" class="cart-product-image"><img
                            src="{% static 'assets/images/products/2.jpg' %}" alt="Product"></a>
                    <div class="text">
                        <p class="product-name">Union Bed</p>
                        <p class="product-price"><span class="price-old">$700.00</span><span
                                class="price">$350.00</span></p>
                        <p class="qty">QTY:01</p>
                    </div>
                    <a class="close" href="home_v1.html#" title="close"><i class="fa fa-times-circle"></i></a>
                </li>
            </ul>
            <p class="total"><span class="left">Total:</span> <span class="right">$1121.98</span></p>
            <div class="bottom">
                <a class="link-v1" href="home_v1.html#" title="viewcart">View Cart</a>
                <a class="link-v1 rt" href="home_v1.html#" title="checkout">Check out</a>
            </div>
        </div>
    </div>
    {% include 'mainapp/includes/inc_setting.html' %}
    <div class="search dropdown" data-toggle="modal" data-target=".bs-example-modal-lg">
        <i class="icon"></i>
    </div>
</div>