{% load staticfiles %}
<!-- бранды на главной странице -->

<div id="back-to-top">
    <i class="fa fa-long-arrow-up"></i>
</div>
<div class="container">
    <div class="shipping-v2">
        <div class="col-md-3 col-sm-3 col-xs-6">
            <i class="pe-7s-map-marker"></i>
            <h3>Store Locator.</h3>
            <p>Find your nearest Evans store.</p>
        </div>
        <div class="col-md-3 col-sm-3 col-xs-6">
            <i class="pe-7s-plane"></i>
            <h3>Delivery &amp; Returns.</h3>
            <p>Delivery &amp; returns information.</p>
        </div>
        <div class="col-md-3 col-sm-3 col-xs-6">
            <i class="pe-7s-phone"></i>
            <h3>Cosre application.</h3>
            <p>Download the cosre mobile App.</p>
        </div>
        <div class="col-md-3 col-sm-3 col-xs-6">
            <i class="pe-7s-headphones"></i>
            <h3>Help &amp; Support</h3>
            <p>Find the answers to your questions.</p>
        </div>
    </div>
    <!-- End container -->
</div>