{% load staticfiles %}
<!-- отзовы -->

            <div class="container container-ver2 center space-30">
                <div class="slider-dot-images hidden-nav center">
                    <div class="items" >
                        <p>I rarely write reviews for products but with the EngoCreative, I am more than grateful. The site is fully customizable and you can really feel like playing while designing the site! Thanks again for having made such a convenient, yet fully-functional theme.</p>
                        <h3>ONATHAN VANCE</h3>
                        <a href="home_v1.html#" title="CEO">CEO & Founder</a>
                        <img class="thumb hidden" src="{% static 'assets/images/about2.jpg' %}" alt="images">
                    </div>
                    <!-- End items -->
                    <div class="items" >
                        <p>I rarely write reviews for products but with the EngoCreative, I am more than grateful. The site is fully customizable and you can really feel like playing while designing the site! Thanks again for having made such a convenient,yet fully-functional theme.</p>
                        <h3>ONATHAN VANCE</h3>
                        <a href="home_v1.html#" title="CEO">CEO & Founder</a>
                        <img class="thumb hidden" src="{% static 'assets/images/about3.jpg' %}" alt="images">
                    </div>
                    <!-- End items -->
                    <div class="items" >
                        <p>I rarely write reviews for products but with the EngoCreative, I am more than grateful. The site is fully customizable and you can really feel like playing while designing the site! Thanks again for having made such a convenient, yet fully-functional theme.</p>
                        <h3>JONATHAN VANCE</h3>
                        <a href="home_v1.html#" title="CEO">CEO & Founder</a>
                        <img class="thumb hidden" src="{% static 'assets/images/about1.jpg' %}" alt="images">
                    </div>
                    <!-- End items -->

                    <div class="items" >
                        <p>I rarely write reviews for products but with the EngoCreative, I am more than grateful. The site is fully customizable and you can really feel like playing while designing the site! Thanks again for having made such a convenient, yet fully-functional theme.</p>
                        <h3>ONATHAN VANCE</h3>
                        <a href="home_v1.html#" title="CEO">CEO & Founder</a>
                        <img class="thumb hidden" src="{% static 'assets/images/about4.jpg' %}" alt="images">
                    </div>
                    <!-- End items -->

                    <div class="items" >
                        <p>I rarely write reviews for products but with the EngoCreative, I am more than grateful. The site is fully customizable and you can really feel like playing while designing the site! Thanks again for having made such a convenient, yet fully-functional theme.</p>
                        <h3>ONATHAN VANCE</h3>
                        <a href="home_v1.html#" title="CEO">CEO & Founder</a>
                        <img class="thumb hidden" src="{% static 'assets/images/about5.jpg' %}" alt="images">
                    </div>
                    <!-- End items -->
                </div>
            </div>