{% load staticfiles %}

            <div class="container container-ver2">
                <div class="blog-home1">
                    <div class="title-text-v2">
                        <h3>Xanadu Blog's</h3>
                    </div>
                    <!-- End title -->
                    <div class="blog-content slider-two-item">
                        <div class="item">
                            <a class="hover-images" href="home_v1.html#" title="images">
                                <img class="img-responsive" src="{% static 'assets/images/ImgBlog/10.jpg' %}" alt="blog">
                            </a>
                            <div class="text">
                                <p class="date">DEC 17,2016</p>
                                <a href="home_v1.html#" title="title"><h3>Awards Jury Winner</h3></a>
                                <p class="by">Post by <span>Xanadu</span> - 16 Comments</p>
                            </div>
                        </div>
                        <!-- End item -->
                        <div class="item">
                            <a class="hover-images" href="home_v1.html#" title="images">
                                <img class="img-responsive" src="{% static 'assets/images/ImgBlog/11.jpg' %}" alt="blog">
                            </a>
                            <div class="text">
                                <p class="date">DEC 17,2016</p>
                                <a href="home_v1.html#" title="title"><h3>Awards Jury Winner</h3></a>
                                <p class="by">Post by <span>Xanadu</span> - 16 Comments</p>
                            </div>
                        </div>
                        <!-- End item -->
                    </div>
                    <!-- End blog-content -->
                </div>
            </div>
