{% load staticfiles %}

<!-- Основное меню -->
<nav class="mega-menu">
    <!-- Brand and toggle get grouped for better mobile display -->
    <ul class="nav navbar-nav" id="navbar">
        <li class="level1 dropdown"><a href="{% url 'main' %}" title="Home">Home</a></li>
        <li class="level1 dropdown"><a href="{% url 'mainapp:catalog' %}" title="Catalog">Catalog</a></li>
        <li class="level1 dropdown"><a href="{% url 'about' %}" title="About">About</a></li>
        <!-- <li class="level1 dropdown">
            <a href="#" title="men">Shop</a>
            <div class="sub-menu sub-menu-v2 dropdown-menu">
                <ul class="menu-level-1">
                    <li class="level2"><a href="#">Living Room</a>
                        <ul class="menu-level-2">
                            <li class="level3"><a href="#" title="Seatings">Seatings</a></li>
                            <li class="level3"><a href="#" title="Tables">Tables</a></li>
                            <li class="level3"><a href="#" title="Accessories">Accessories</a></li>
                            <li class="level3"><a href="#" title="Series">Series</a></li>
                        </ul>
                    </li>
                    <li class="level2"><a href="#">BATH Room</a>
                        <ul class="menu-level-2">
                            <li class="level3"><a href="#" title="Lighting">Lighting</a></li>
                            <li class="level3"><a href="#" title="Storage">Storage</a></li>
                            <li class="level3"><a href="#" title="Accessories">Accessories</a></li>
                            <li class="level3"><a href="#" title="Beds">Beds</a></li>
                        </ul>
                    </li>
                    <li class="level2"><a href="#">KITCHEN Room</a>
                        <ul class="menu-level-2">
                            <li class="level3"><a href="#" title="Cleaning Tools">Cleaning Tools</a></li>
                            <li class="level3"><a href="#" title="Waste Bins">Waste Bins</a></li>
                            <li class="level3"><a href="#" title="Pots & Pans">Pots & Pans</a></li>
                            <li class="level3"><a href="#" title="Beds">Beds</a></li>
                        </ul>
                    </li>
                    <li class="level2"><a href="#">Living Room</a>
                        <ul class="menu-level-2">
                            <li class="level3"><a href="#" title="Seatings">Seatings</a></li>
                            <li class="level3"><a href="#" title="Tables">Tables</a></li>
                            <li class="level3"><a href="#" title="Accessories">Accessories</a></li>
                            <li class="level3"><a href="#" title="Series">Series</a></li>
                        </ul>
                    </li>
                    <li class="level2"><a href="#">BATH Room</a>
                        <ul class="menu-level-2">
                            <li class="level3"><a href="#" title="Lighting">Lighting</a></li>
                            <li class="level3"><a href="#" title="Storage">Storage</a></li>
                            <li class="level3"><a href="#" title="Accessories">Accessories</a></li>
                            <li class="level3"><a href="#" title="Beds">Beds</a></li>
                        </ul>
                    </li>
                    <li class="level2"><a href="#">KITCHEN Room</a>
                        <ul class="menu-level-2">
                            <li class="level3"><a href="#" title="Cleaning Tools">Cleaning Tools</a></li>
                            <li class="level3"><a href="#" title="Waste Bins">Waste Bins</a></li>
                            <li class="level3"><a href="#" title="Pots & Pans">Pots & Pans</a></li>
                        </ul>
                    </li>
                </ul>
                <div class="right-submenu">
                    <a href="#" title="images"><img class="img-responsive"
                            src="{% static 'assets/images/right-submenu.jpg' %}" alt="Sub-Menu" /></a>
                </div>
            </div>
        </li> -->
</nav>