{% load staticfiles %}
<!-- подвал -->

<footer id="footer" class="footer-v1">         
    <div class="container">
          <div class="footer-top">
              <div class="logo-footer">
                  <a href="home_v1.html#" title="Logo">
                      <img src="{% static 'assets/images/logo.png' %}" alt="Logo">
                  </a>
                  <p>&copy; Xanadu 2016 | Site by EngoCreative</p>
              </div>
              <div class="menu-footer">
                  <ul>
                      <li><a href="home_v1.html#" title="About Us">About Us</a></li>
                      <li><a href="home_v1.html#" title="Advertise">Advertise</a></li>
                      <li><a href="home_v1.html#" title="Press">Press</a></li>
                      <li><a href="home_v1.html#" title="Contact Us">Contact Us</a></li>
                      <li><a href="home_v1.html#" title="Store">Store</a></li>
                      <li><a href="home_v1.html#" title="Careers">Careers</a></li>
                  </ul>    
              </div>
              <!-- End menu-footer -->
              <div class="social">
                  <a class="active" title="twitter" href="home_v1.html#"><i class="fa fa-twitter"></i></a>
                  <a title="facebook" href="home_v1.html#"><i class="fa fa-facebook"></i></a>
                  <a title="youtube" href="home_v1.html#"><i class="fa fa-youtube-play"></i></a>
                  <a title="google plus" href="home_v1.html#"><i class="fa fa-google-plus"></i></a>
              </div>
              <!-- End social -->
          </div>
          <!-- End footer-top -->
    </div>
    <!-- End container -->
</footer>