{% load staticfiles %}
<!-- бранды на главной странице -->

<div id="back-to-top">
    <i class="fa fa-long-arrow-up"></i>
</div>          
<div class="container">
           <div class="brand-content">
               <div class="items">
                   <a href="home_v1.html#" title="brand"><img class="img-responsive" src="{% static 'assets/images/brand-1.png' %}" alt="Brand"></a>
               </div>
               <div class="items">
                   <a href="home_v1.html#" title="brand"><img class="img-responsive" src="{% static 'assets/images/brand-2.png' %}" alt="Brand"></a>
               </div>
               <div class="items">
                   <a href="home_v1.html#" title="brand"><img class="img-responsive" src="{% static 'assets/images/brand-3.png' %}" alt="Brand"></a>
               </div>
               <div class="items">
                   <a href="home_v1.html#" title="brand"><img class="img-responsive" src="{% static 'assets/images/brand-4.png' %}" alt="Brand"></a>
               </div>
               <div class="items">
                   <a href="home_v1.html#" title="brand"><img class="img-responsive" src="{% static 'assets/images/brand-5.png' %}" alt="Brand"></a>
               </div>
               <div class="items">
                   <a href="home_v1.html#" title="brand"><img class="img-responsive" src="{% static 'assets/images/brand-6.png' %}" alt="Brand"></a>
               </div>
           </div>
</div>