{% load staticfiles %}
<!-- товары фурнитуры -->

            <!-- End container -->
            <div class="container container-ver2">
                <div class="title-text-v2">
                    <h3>Featured Products</h3>
                </div>
                <div class="featured-products">
                    <ul class="tabs tabs-title">
                        <li class="item" rel="tab_1">NEW ARRIVALS</li>
                        <li class="item" rel="tab_2">BEST SELLER</li>
                        <li class="item" rel="tab_3">TOP RATED</li>
                    </ul>
                    <div class="tab-container space-10">
                        <div id="tab_1" class="tab-content">
                            <div class="products">
                                <div class="product">
                                    <div class="product-images">
                                        <a href="home_v1.html#" title="product-images">
                                            <img class="primary_image" src="{% static 'assets/images/products/featured/1.jpg' %}" alt=""/>
                                            <img class="secondary_image" src="{% static 'assets/images/products/featured/2.jpg' %}" alt=""/>
                                        </a>
                                    </div>
                                    <a href="home_v1.html#" title="Union Bed"><p class="product-title">Union Bed</p></a>
                                    <p class="product-price-old">$700.00</p>
                                    <p class="product-price">$350.00</p>
                                    
                                </div>
                                <!-- End item -->
                                <div class="product">
                                    <div class="product-images">
                                        <a href="home_v1.html#" title="product-images">
                                            <img class="primary_image" src="{% static 'assets/images/products/featured/2.jpg' %}" alt=""/>
                                            <img class="secondary_image" src="{% static 'assets/images/products/featured/3.jpg' %}" alt=""/>
                                        </a>
                                    </div>
                                    <a href="home_v1.html#" title="Union Bed"><p class="product-title">Union Bed</p></a>
                                    <p class="product-price-old">$700.00</p>
                                    <p class="product-price">$350.00</p>
                                </div>
                                <!-- End item -->
                                <div class="product">
                                    <div class="product-images">
                                        <a href="home_v1.html#" title="product-images">
                                            <img class="primary_image" src="{% static 'assets/images/products/featured/3.jpg' %}" alt=""/>
                                            <img class="secondary_image" src="{% static 'assets/images/products/featured/4.jpg' %}" alt=""/>
                                        </a>
                                    </div>
                                    <a href="home_v1.html#" title="Union Bed"><p class="product-title">Union Bed</p></a>
                                    <p class="product-price-old">$700.00</p>
                                    <p class="product-price">$350.00</p>
                                    
                                </div>
                                <!-- End item -->
                                <div class="product">
                                    <div class="product-images">
                                        <a href="home_v1.html#" title="product-images">
                                            <img class="primary_image" src="{% static 'assets/images/products/featured/4.jpg' %}" alt=""/>
                                            <img class="secondary_image" src="{% static 'assets/images/products/featured/5.jpg' %}" alt=""/>
                                        </a>
                                    </div>
                                    <a href="home_v1.html#" title="Union Bed"><p class="product-title">Union Bed</p></a>
                                    <p class="product-price-old">$700.00</p>
                                    <p class="product-price">$350.00</p>
                                    
                                </div>
                                <!-- End item -->
                                <div class="product">
                                    <div class="product-images">
                                        <a href="home_v1.html#" title="product-images">
                                            <img class="primary_image" src="{% static 'assets/images/products/featured/5.jpg' %}" alt=""/>
                                            <img class="secondary_image" src="{% static 'assets/images/products/featured/1.jpg' %}" alt=""/>
                                        </a>
                                    </div>
                                    <a href="home_v1.html#" title="Union Bed"><p class="product-title">Union Bed</p></a>
                                    <p class="product-price-old">$700.00</p>
                                    <p class="product-price">$350.00</p>
                                    
                                </div>
                                <!-- End item -->
                                <div class="product">
                                    <div class="product-images">
                                        <a href="home_v1.html#" title="product-images">
                                            <img class="primary_image" src="{% static 'assets/images/products/featured/6.jpg' %}" alt=""/>
                                            <img class="secondary_image" src="{% static 'assets/images/products/featured/2.jpg' %}" alt=""/>
                                        </a>
                                    </div>
                                    <a href="home_v1.html#" title="Union Bed"><p class="product-title">Union Bed</p></a>
                                    <p class="product-price-old">$700.00</p>
                                    <p class="product-price">$350.00</p>
                                    
                                </div>
                                <!-- End item -->
                                <div class="product">
                                    <div class="product-images">
                                        <a href="home_v1.html#" title="product-images">
                                            <img class="primary_image" src="{% static 'assets/images/products/featured/7.jpg' %}" alt=""/>
                                            <img class="secondary_image" src="{% static 'assets/images/products/featured/2.jpg' %}" alt=""/>
                                        </a>
                                    </div>
                                    <a href="home_v1.html#" title="Union Bed"><p class="product-title">Union Bed</p></a>
                                    <p class="product-price-old">$700.00</p>
                                    <p class="product-price">$350.00</p>
                                    
                                </div>
                                <!-- End item -->
                                <div class="product">
                                    <div class="product-images">
                                        <a href="home_v1.html#" title="product-images">
                                            <img class="primary_image" src="{% static 'assets/images/products/featured/8.jpg' %}" alt=""/>
                                            <img class="secondary_image" src="{% static 'assets/images/products/featured/3.jpg' %}" alt=""/>
                                        </a>
                                    </div>
                                    <a href="home_v1.html#" title="Union Bed"><p class="product-title">Union Bed</p></a>
                                    <p class="product-price-old">$700.00</p>
                                    <p class="product-price">$350.00</p>
                                </div>
                                <!-- End item -->
                                <div class="product">
                                    <div class="product-images">
                                        <a href="home_v1.html#" title="product-images">
                                            <img class="primary_image" src="{% static 'assets/images/products/featured/9.jpg' %}" alt=""/>
                                            <img class="secondary_image" src="{% static 'assets/images/products/featured/4.jpg' %}" alt=""/>
                                        </a>
                                    </div>
                                    <a href="home_v1.html#" title="Union Bed"><p class="product-title">Union Bed</p></a>
                                    <p class="product-price-old">$700.00</p>
                                    <p class="product-price">$350.00</p>
                                    
                                </div>
                                <!-- End item -->
                                <div class="product">
                                    <div class="product-images">
                                        <a href="home_v1.html#" title="product-images">
                                            <img class="primary_image" src="{% static 'assets/images/products/featured/10.jpg' %}" alt=""/>
                                            <img class="secondary_image" src="{% static 'assets/images/products/featured/5.jpg' %}" alt=""/>
                                        </a>
                                    </div>
                                    <a href="home_v1.html#" title="Union Bed"><p class="product-title">Union Bed</p></a>
                                    <p class="product-price-old">$700.00</p>
                                    <p class="product-price">$350.00</p>
                                    
                                </div>
                                <!-- End item -->
                                <div class="product">
                                    <div class="product-images">
                                        <a href="home_v1.html#" title="product-images">
                                            <img class="primary_image" src="{% static 'assets/images/products/featured/11.jpg' %}" alt=""/>
                                            <img class="secondary_image" src="{% static 'assets/images/products/featured/1.jpg' %}" alt=""/>
                                        </a>
                                    </div>
                                    <a href="home_v1.html#" title="Union Bed"><p class="product-title">Union Bed</p></a>
                                    <p class="product-price-old">$700.00</p>
                                    <p class="product-price">$350.00</p>
                                    
                                </div>
                                <!-- End item -->
                                <div class="product">
                                    <div class="product-images">
                                        <a href="home_v1.html#" title="product-images">
                                            <img class="primary_image" src="{% static 'assets/images/products/featured/12.jpg' %}" alt=""/>
                                            <img class="secondary_image" src="{% static 'assets/images/products/featured/2.jpg' %}" alt=""/>
                                        </a>
                                    </div>
                                    <a href="home_v1.html#" title="Union Bed"><p class="product-title">Union Bed</p></a>
                                    <p class="product-price-old">$700.00</p>
                                    <p class="product-price">$350.00</p>
                                    
                                </div>
                                <!-- End item -->
                            </div>
                            <!-- End product-tab-content products -->
                        </div>
                        <!-- End tab-content -->
                        <div id="tab_2" class="tab-content">
                            <div class="products">
                                <div class="product">
                                    <div class="product-images">
                                        <a href="home_v1.html#" title="product-images">
                                            <img class="primary_image" src="{% static 'assets/images/products/featured/3.jpg' %}" alt=""/>
                                            <img class="secondary_image" src="{% static 'assets/images/products/featured/2.jpg' %}" alt=""/>
                                        </a>
                                    </div>
                                    <a href="home_v1.html#" title="Union Bed"><p class="product-title">Union Bed</p></a>
                                    <p class="product-price-old">$700.00</p>
                                    <p class="product-price">$350.00</p>
                                    
                                </div>
                                <!-- End item -->
                                <div class="product">
                                    <div class="product-images">
                                        <a href="home_v1.html#" title="product-images">
                                            <img class="primary_image" src="{% static 'assets/images/products/featured/1.jpg' %}" alt=""/>
                                            <img class="secondary_image" src="{% static 'assets/images/products/featured/3.jpg' %}" alt=""/>
                                        </a>
                                    </div>
                                    <a href="home_v1.html#" title="Union Bed"><p class="product-title">Union Bed</p></a>
                                    <p class="product-price-old">$700.00</p>
                                    <p class="product-price">$350.00</p>
                                </div>
                                <!-- End item -->
                                <div class="product">
                                    <div class="product-images">
                                        <a href="home_v1.html#" title="product-images">
                                            <img class="primary_image" src="{% static 'assets/images/products/featured/2.jpg' %}" alt=""/>
                                            <img class="secondary_image" src="{% static 'assets/images/products/featured/4.jpg' %}" alt=""/>
                                        </a>
                                    </div>
                                    <a href="home_v1.html#" title="Union Bed"><p class="product-title">Union Bed</p></a>
                                    <p class="product-price-old">$700.00</p>
                                    <p class="product-price">$350.00</p>
                                    
                                </div>
                                <!-- End item -->
                                <div class="product">
                                    <div class="product-images">
                                        <a href="home_v1.html#" title="product-images">
                                            <img class="primary_image" src="{% static 'assets/images/products/featured/4.jpg' %}" alt=""/>
                                            <img class="secondary_image" src="{% static 'assets/images/products/featured/5.jpg' %}" alt=""/>
                                        </a>
                                    </div>
                                    <a href="home_v1.html#" title="Union Bed"><p class="product-title">Union Bed</p></a>
                                    <p class="product-price-old">$700.00</p>
                                    <p class="product-price">$350.00</p>
                                    
                                </div>
                                <!-- End item -->
                                <div class="product">
                                    <div class="product-images">
                                        <a href="home_v1.html#" title="product-images">
                                            <img class="primary_image" src="{% static 'assets/images/products/featured/6.jpg' %}" alt=""/>
                                            <img class="secondary_image" src="{% static 'assets/images/products/featured/1.jpg' %}" alt=""/>
                                        </a>
                                    </div>
                                    <a href="home_v1.html#" title="Union Bed"><p class="product-title">Union Bed</p></a>
                                    <p class="product-price-old">$700.00</p>
                                    <p class="product-price">$350.00</p>
                                    
                                </div>
                                <!-- End item -->
                                <div class="product">
                                    <div class="product-images">
                                        <a href="home_v1.html#" title="product-images">
                                            <img class="primary_image" src="{% static 'assets/images/products/featured/6.jpg' %}" alt=""/>
                                            <img class="secondary_image" src="{% static 'assets/images/products/featured/2.jpg' %}" alt=""/>
                                        </a>
                                    </div>
                                    <a href="home_v1.html#" title="Union Bed"><p class="product-title">Union Bed</p></a>
                                    <p class="product-price-old">$700.00</p>
                                    <p class="product-price">$350.00</p>
                                    
                                </div>
                                <!-- End item -->
                                <div class="product">
                                    <div class="product-images">
                                        <a href="home_v1.html#" title="product-images">
                                            <img class="primary_image" src="{% static 'assets/images/products/featured/8.jpg' %}" alt=""/>
                                            <img class="secondary_image" src="{% static 'assets/images/products/featured/2.jpg' %}" alt=""/>
                                        </a>
                                    </div>
                                    <a href="home_v1.html#" title="Union Bed"><p class="product-title">Union Bed</p></a>
                                    <p class="product-price-old">$700.00</p>
                                    <p class="product-price">$350.00</p>
                                    
                                </div>
                                <!-- End item -->
                                <div class="product">
                                    <div class="product-images">
                                        <a href="home_v1.html#" title="product-images">
                                            <img class="primary_image" src="{% static 'assets/images/products/featured/7.jpg' %}" alt=""/>
                                            <img class="secondary_image" src="{% static 'assets/images/products/featured/3.jpg' %}" alt=""/>
                                        </a>
                                    </div>
                                    <a href="home_v1.html#" title="Union Bed"><p class="product-title">Union Bed</p></a>
                                    <p class="product-price-old">$700.00</p>
                                    <p class="product-price">$350.00</p>
                                </div>
                                <!-- End item -->
                                <div class="product">
                                    <div class="product-images">
                                        <a href="home_v1.html#" title="product-images">
                                            <img class="primary_image" src="{% static 'assets/images/products/featured/9.jpg' %}" alt=""/>
                                            <img class="secondary_image" src="{% static 'assets/images/products/featured/4.jpg' %}" alt=""/>
                                        </a>
                                    </div>
                                    <a href="home_v1.html#" title="Union Bed"><p class="product-title">Union Bed</p></a>
                                    <p class="product-price-old">$700.00</p>
                                    <p class="product-price">$350.00</p>
                                    
                                </div>
                                <!-- End item -->
                                <div class="product">
                                    <div class="product-images">
                                        <a href="home_v1.html#" title="product-images">
                                            <img class="primary_image" src="{% static 'assets/images/products/featured/12.jpg' %}" alt=""/>
                                            <img class="secondary_image" src="{% static 'assets/images/products/featured/5.jpg' %}" alt=""/>
                                        </a>
                                    </div>
                                    <a href="home_v1.html#" title="Union Bed"><p class="product-title">Union Bed</p></a>
                                    <p class="product-price-old">$700.00</p>
                                    <p class="product-price">$350.00</p>
                                </div>
                                <!-- End item -->
                                <div class="product">
                                    <div class="product-images">
                                        <a href="home_v1.html#" title="product-images">
                                            <img class="primary_image" src="{% static 'assets/images/products/featured/11.jpg' %}" alt=""/>
                                            <img class="secondary_image" src="{% static 'assets/images/products/featured/1.jpg' %}" alt=""/>
                                        </a>
                                    </div>
                                    <a href="home_v1.html#" title="Union Bed"><p class="product-title">Union Bed</p></a>
                                    <p class="product-price-old">$700.00</p>
                                    <p class="product-price">$350.00</p>
                                    
                                </div>
                                <!-- End item -->
                                <div class="product">
                                    <div class="product-images">
                                        <a href="home_v1.html#" title="product-images">
                                            <img class="primary_image" src="{% static 'assets/images/products/featured/10.jpg' %}" alt=""/>
                                            <img class="secondary_image" src="{% static 'assets/images/products/featured/2.jpg' %}" alt=""/>
                                        </a>
                                    </div>
                                    <a href="home_v1.html#" title="Union Bed"><p class="product-title">Union Bed</p></a>
                                    <p class="product-price-old">$700.00</p>
                                    <p class="product-price">$350.00</p>
                                    
                                </div>
                                <!-- End item -->
                            </div>
                            <!-- End product-tab-content products -->
                        </div>
                        <!-- End tab-content -->
                        <div id="tab_3" class="tab-content">
                            <div class="products">
                                <div class="product">
                                    <div class="product-images">
                                        <a href="home_v1.html#" title="product-images">
                                            <img class="primary_image" src="{% static 'assets/images/products/featured/1.jpg' %}" alt=""/>
                                            <img class="secondary_image" src="{% static 'assets/images/products/featured/2.jpg' %}" alt=""/>
                                        </a>
                                    </div>
                                    <a href="home_v1.html#" title="Union Bed"><p class="product-title">Union Bed</p></a>
                                    <p class="product-price-old">$700.00</p>
                                    <p class="product-price">$350.00</p>
                                    
                                </div>
                                <!-- End item -->
                                <div class="product">
                                    <div class="product-images">
                                        <a href="home_v1.html#" title="product-images">
                                            <img class="primary_image" src="{% static 'assets/images/products/featured/2.jpg' %}" alt=""/>
                                            <img class="secondary_image" src="{% static 'assets/images/products/featured/3.jpg' %}" alt=""/>
                                        </a>
                                    </div>
                                    <a href="home_v1.html#" title="Union Bed"><p class="product-title">Union Bed</p></a>
                                    <p class="product-price-old">$700.00</p>
                                    <p class="product-price">$350.00</p>
                                </div>
                                <!-- End item -->
                                <div class="product">
                                    <div class="product-images">
                                        <a href="home_v1.html#" title="product-images">
                                            <img class="primary_image" src="{% static 'assets/images/products/featured/3.jpg' %}" alt=""/>
                                            <img class="secondary_image" src="{% static 'assets/images/products/featured/4.jpg' %}" alt=""/>
                                        </a>
                                    </div>
                                    <a href="home_v1.html#" title="Union Bed"><p class="product-title">Union Bed</p></a>
                                    <p class="product-price-old">$700.00</p>
                                    <p class="product-price">$350.00</p>
                                    
                                </div>
                                <!-- End item -->
                                <div class="product">
                                    <div class="product-images">
                                        <a href="home_v1.html#" title="product-images">
                                            <img class="primary_image" src="{% static 'assets/images/products/featured/4.jpg' %}" alt=""/>
                                            <img class="secondary_image" src="{% static 'assets/images/products/featured/5.jpg' %}" alt=""/>
                                        </a>
                                    </div>
                                    <a href="home_v1.html#" title="Union Bed"><p class="product-title">Union Bed</p></a>
                                    <p class="product-price-old">$700.00</p>
                                    <p class="product-price">$350.00</p>
                                    
                                </div>
                                <!-- End item -->
                                <div class="product">
                                    <div class="product-images">
                                        <a href="home_v1.html#" title="product-images">
                                            <img class="primary_image" src="{% static 'assets/images/products/featured/5.jpg' %}" alt=""/>
                                            <img class="secondary_image" src="{% static 'assets/images/products/featured/1.jpg' %}" alt=""/>
                                        </a>
                                    </div>
                                    <a href="home_v1.html#" title="Union Bed"><p class="product-title">Union Bed</p></a>
                                    <p class="product-price-old">$700.00</p>
                                    <p class="product-price">$350.00</p>
                                    
                                </div>
                                <!-- End item -->
                                <div class="product">
                                    <div class="product-images">
                                        <a href="home_v1.html#" title="product-images">
                                            <img class="primary_image" src="{% static 'assets/images/products/featured/6.jpg' %}" alt=""/>
                                            <img class="secondary_image" src="{% static 'assets/images/products/featured/2.jpg' %}" alt=""/>
                                        </a>
                                    </div>
                                    <a href="home_v1.html#" title="Union Bed"><p class="product-title">Union Bed</p></a>
                                    <p class="product-price-old">$700.00</p>
                                    <p class="product-price">$350.00</p>
                                    
                                </div>
                                <!-- End item -->
                                <div class="product">
                                    <div class="product-images">
                                        <a href="home_v1.html#" title="product-images">
                                            <img class="primary_image" src="{% static 'assets/images/products/featured/7.jpg' %}" alt=""/>
                                            <img class="secondary_image" src="{% static 'assets/images/products/featured/2.jpg' %}" alt=""/>
                                        </a>
                                    </div>
                                    <a href="home_v1.html#" title="Union Bed"><p class="product-title">Union Bed</p></a>
                                    <p class="product-price-old">$700.00</p>
                                    <p class="product-price">$350.00</p>
                                    
                                </div>
                                <!-- End item -->
                                <div class="product">
                                    <div class="product-images">
                                        <a href="home_v1.html#" title="product-images">
                                            <img class="primary_image" src="{% static 'assets/images/products/featured/8.jpg' %}" alt=""/>
                                            <img class="secondary_image" src="{% static 'assets/images/products/featured/3.jpg' %}" alt=""/>
                                        </a>
                                    </div>
                                    <a href="home_v1.html#" title="Union Bed"><p class="product-title">Union Bed</p></a>
                                    <p class="product-price-old">$700.00</p>
                                    <p class="product-price">$350.00</p>
                                </div>
                                <!-- End item -->
                                <div class="product">
                                    <div class="product-images">
                                        <a href="home_v1.html#" title="product-images">
                                            <img class="primary_image" src="{% static 'assets/images/products/featured/9.jpg' %}" alt=""/>
                                            <img class="secondary_image" src="{% static 'assets/images/products/featured/4.jpg' %}" alt=""/>
                                        </a>
                                    </div>
                                    <a href="home_v1.html#" title="Union Bed"><p class="product-title">Union Bed</p></a>
                                    <p class="product-price-old">$700.00</p>
                                    <p class="product-price">$350.00</p>
                                    
                                </div>
                                <!-- End item -->
                                <div class="product">
                                    <div class="product-images">
                                        <a href="home_v1.html#" title="product-images">
                                            <img class="primary_image" src="{% static 'assets/images/products/featured/10.jpg' %}" alt=""/>
                                            <img class="secondary_image" src="{% static 'assets/images/products/featured/5.jpg' %}" alt=""/>
                                        </a>
                                    </div>
                                    <a href="home_v1.html#" title="Union Bed"><p class="product-title">Union Bed</p></a>
                                    <p class="product-price-old">$700.00</p>
                                    <p class="product-price">$350.00</p>
                                    
                                </div>
                                <!-- End item -->
                                <div class="product">
                                    <div class="product-images">
                                        <a href="home_v1.html#" title="product-images">
                                            <img class="primary_image" src="{% static 'assets/images/products/featured/11.jpg' %}" alt=""/>
                                            <img class="secondary_image" src="{% static 'assets/images/products/featured/1.jpg' %}" alt=""/>
                                        </a>
                                    </div>
                                    <a href="home_v1.html#" title="Union Bed"><p class="product-title">Union Bed</p></a>
                                    <p class="product-price-old">$700.00</p>
                                    <p class="product-price">$350.00</p>
                                    
                                </div>
                                <!-- End item -->
                                <div class="product">
                                    <div class="product-images">
                                        <a href="home_v1.html#" title="product-images">
                                            <img class="primary_image" src="{% static 'assets/images/products/featured/12.jpg' %}" alt=""/>
                                            <img class="secondary_image" src="{% static 'assets/images/products/featured/2.jpg' %}" alt=""/>
                                        </a>
                                    </div>
                                    <a href="home_v1.html#" title="Union Bed"><p class="product-title">Union Bed</p></a>
                                    <p class="product-price-old">$700.00</p>
                                    <p class="product-price">$350.00</p>
                                    
                                </div>
                                <!-- End item -->
                            </div>
                            <!-- End product-tab-content products -->
                        </div>
                        <!-- End tab-content -->
                    </div>
                    <div class="box center space-padding-tb-30">
                        <a class="link-v1 color-brand" href="home_v1.html#" title="View All">View All</a>
                    </div>
                    <!-- End viewall -->
                </div>
            </div>