{% load staticfiles %}

<!-- Баннеры аксессуаров -->
                <!-- End row -->
                <div class="row">
                    <div class="col-md-5 col-sm-6 float-right padding-left-0 pro">
                        <div class="banner-private center">
                            <img src="{% static 'assets/images/home1-banner2-2.jpg' %}" alt="images">
                            <div class="text">
                                <h2>Accessories</h2>
                                <p class="space-50">Proactively procrastinate market-driven niche markets and Energistically provide access to future-proof distinctive manufactured products.</p>
                                <a class="link-v1" href="home_v1.html#" title="viewall">View All</a>
                            </div>
                            <!-- End text -->
                        </div>
                    </div>
                    <div class="col-md-7 col-sm-6 float-left pro">
                        <div class="row">
                        <div class="products ver2 hover-shadow">
                            <div class="col-md-4 col-sm-6">
                                <div class="product">
                                    <div class="product-images">
                                        <a href="home_v1.html#" title="product-images">
                                            <img class="primary_image" src="{% static 'assets/images/products/index/7.jpg' %}" alt=""/>
                                            <img class="secondary_image" src="{% static 'assets/images/products/featured/2.jpg' %}" alt=""/>
                                        </a>
                                        <div class="action">
                                            <a class="wish" href="home_v1.html#" title="Wishlist"><i class="icon icon-heart"></i></a>
                                            <a class="zoom" href="home_v1.html#" title="Quick view"><i class="icon icon-magnifier-add "></i></a>
                                            <a class="add-cart" href="home_v1.html#" title="Add to cart"><i class="icon-bag"></i></a>
                                        </div>
                                        <!-- End action -->
                                    </div>
                                    <a href="home_v1.html#" title="Union Bed"><p class="product-title">Maze Table</p></a>
                                    <p class="product-price-old">$700.00</p>
                                    <p class="product-price">$350.00</p>
                                </div>
                            </div>
                            <!-- End col-md-4 -->
                            <div class="col-md-4 col-sm-6 space-30">
                                <div class="product">
                                <span class="lab sold">sold out</span>
                                <div class="product-images">
                                    <a href="home_v1.html#" title="product-images">
                                        <img class="primary_image" src="{% static 'assets/images/products/index/8.jpg' %}" alt=""/>
                                        <img class="secondary_image" src="{% static 'assets/images/products/featured/3.jpg' %}" alt=""/>
                                    </a>
                                    <div class="action">
                                        <a class="wish" href="home_v1.html#" title="Wishlist"><i class="icon icon-heart"></i></a>
                                        <a class="zoom" href="home_v1.html#" title="Quick view"><i class="icon icon-magnifier-add "></i></a>
                                        <a class="add-cart" href="home_v1.html#" title="Add to cart"><i class="icon-bag"></i></a>
                                    </div>
                                    <!-- End action -->
                                </div>
                                <a href="home_v1.html#" title="Union Bed"><p class="product-title">Union Corner Unit Sofa</p></a>
                                <p class="product-price-old">$700.00</p>
                                <p class="product-price">$350.00</p>
                                </div>
                            </div>
                            <!-- End col-md-4 -->
                            <div class="col-md-4 col-sm-6 space-30">
                                <div class="product">
                                <div class="product-images">
                                    <a href="home_v1.html#" title="product-images">
                                        <img class="primary_image" src="{% static 'assets/images/products/index/9.jpg' %}" alt=""/>
                                        <img class="secondary_image" src="{% static 'assets/images/products/featured/1.jpg' %}" alt=""/>
                                    </a>
                                    <div class="action">
                                        <a class="wish" href="home_v1.html#" title="Wishlist"><i class="icon icon-heart"></i></a>
                                        <a class="zoom" href="home_v1.html#" title="Quick view"><i class="icon icon-magnifier-add "></i></a>
                                        <a class="add-cart" href="home_v1.html#" title="Add to cart"><i class="icon-bag"></i></a>
                                    </div>
                                    <!-- End action -->
                                </div>
                                <a href="home_v1.html#" title="Union Bed"><p class="product-title">Poly Side Table</p></a>
                                <p class="product-price-old">$700.00</p>
                                <p class="product-price">$350.00</p>
                                </div>
                            </div>
                            <!-- End col-md-4 -->
                            <div class="col-md-4 col-sm-6 space-30">
                                <div class="product">
                                <div class="product-images">
                                    <a href="home_v1.html#" title="product-images">
                                        <img class="primary_image" src="{% static 'assets/images/products/index/10.jpg' %}" alt=""/>
                                        <img class="secondary_image" src="{% static 'assets/images/products/featured/1.jpg' %}" alt=""/>
                                    </a>
                                    <div class="action">
                                        <a class="wish" href="home_v1.html#" title="Wishlist"><i class="icon icon-heart"></i></a>
                                        <a class="zoom" href="home_v1.html#" title="Quick view"><i class="icon icon-magnifier-add "></i></a>
                                        <a class="add-cart" href="home_v1.html#" title="Add to cart"><i class="icon-bag"></i></a>
                                    </div>
                                    <!-- End action -->
                                </div>
                                <a href="home_v1.html#" title="Union Bed"><p class="product-title">Daisy Coffee Table</p></a>
                                <p class="product-price-old">$700.00</p>
                                <p class="product-price">$350.00</p>
                                </div>
                            </div>
                            <!-- End col-md-4 -->
                            <div class="col-md-4 col-sm-6 space-30">
                                <div class="product">
                                <div class="product-images">
                                    <a href="home_v1.html#" title="product-images">
                                        <img class="primary_image" src="{% static 'assets/images/products/index/11.jpg' %}" alt=""/>
                                        <img class="secondary_image" src="{% static 'assets/images/products/featured/2.jpg' %}" alt=""/>
                                    </a>
                                    <div class="action">
                                        <a class="wish" href="home_v1.html#" title="Wishlist"><i class="icon icon-heart"></i></a>
                                        <a class="zoom" href="home_v1.html#" title="Quick view"><i class="icon icon-magnifier-add "></i></a>
                                        <a class="add-cart" href="home_v1.html#" title="Add to cart"><i class="icon-bag"></i></a>
                                    </div>
                                    <!-- End action -->
                                </div>
                                <a href="home_v1.html#" title="Union Bed"><p class="product-title">Flying Spider</p></a>
                                <p class="product-price-old">$700.00</p>
                                <p class="product-price">$350.00</p>
                                </div>
                            </div>
                            <!-- End col-md-4 -->
                            <div class="col-md-4 col-sm-6 space-30">
                                <div class="product">
                                <div class="product-images">
                                    <a href="home_v1.html#" title="product-images">
                                        <img class="primary_image" src="{% static 'assets/images/products/index/12.jpg' %}" alt=""/>
                                        <img class="secondary_image" src="{% static 'assets/images/products/featured/3.jpg' %}" alt=""/>
                                    </a>
                                    <div class="action">
                                        <a class="wish" href="home_v1.html#" title="Wishlist"><i class="icon icon-heart"></i></a>
                                        <a class="zoom" href="home_v1.html#" title="Quick view"><i class="icon icon-magnifier-add "></i></a>
                                        <a class="add-cart" href="home_v1.html#" title="Add to cart"><i class="icon-bag"></i></a>
                                    </div>
                                    <!-- End action -->
                                </div>
                                <a href="home_v1.html#" title="Union Bed"><p class="product-title">Butterfly Bar Stool</p></a>
                                <p class="product-price-old">$700.00</p>
                                <p class="product-price">$350.00</p>
                                </div>
                            </div>
                            <!-- End col-md-4 -->
                        </div>
                        <!-- End products -->
                        </div>
                        <!-- End row -->
                    </div>
                </div>