{% load staticfiles %}

<div class="container">
    <div class="special bg-images box space-60" style="background-image:{% static 'assets/images/home1-banner1.jpg' %}">
        <div class="col-md-7 float-left align-right">
            <img src="{% static 'assets/images/home1-images-banner1.png' %}" alt="images">
        </div>
        <!-- End col-md-7 -->
        <div class="col-md-5 float-right align-left">
            <div class="special-content">
                <h4 class="title">Special Offers</h4>
                <h3>Get 30% off</h3>
                <h5>your order of $100 or more</h5>
                <div class="time" data-countdown="countdown" data-date="03-20-2017-10-20-30"></div>
                <a class="link-v1 color-brand" href="home_v1.html#" title="shopnow">Shop Now</a>
            </div>
        </div>
        <!-- End col-md-5 -->
    </div>
</div>