{% extends 'mainapp/base.html' %}
{% load staticfiles %}


{% block content %}
{% include 'mainapp/index/inc_slider.html' %}
{% include 'mainapp/includes/inc_subscribe.html' %}
{% include 'mainapp/includes/inc_reviews.html' %}
{% endblock content %}

<!-- 
{% include 'mainapp/index/inc_banner.html' %}
<div class="container furniture">
    {% include 'mainapp/index/inc_furniture.html' %}
    {% include 'mainapp/index/inc_аccessories.html' %}
</div>
{% include 'mainapp/index/inc_special_offer.html' %}
{% include 'mainapp/index/inc_featured_products.html' %}
{% include 'mainapp/includes/inc_blogs.html' %} 
-->
<!-- {% include 'mainapp/includes/inc_brands.html' %} -->