{% load staticfiles %}

<div class="page-about">
    <div class="head-about">
        <div class="container container-ver2">
            <div class="box space-50">
                <div class="col-md-6 text center">
                    <h3>We Are Xanadu</h3>
                    <p><i> Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero
                            sit amet quam egestas semper </i></p>
                    <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.
                        Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero
                        sit amet quam egestas semper. Aenean ultrici mi vitae Mauris placerat eleifend leo.Pellentesque
                        habitant morbi tristique senectus et netus et malesuada fames ac turpisegestas. Vestibulum
                        tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam
                        egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo.</p>
                    <a href="#" title="By Xanadu">By Xanadu</a>
                </div>
                <div class="col-md-6">
                    <img class="img-responsive" src="{% static 'assets/images/about-user1.jpg' %}" alt="images">
                </div>
            </div>
        </div>
    </div>
    <div class="about-choose center space-padding-tb-40 space-30">
        <div class="container container-ver2">
            <div class="border">
                <h3>Why Choose Us</h3>
                <p>"On the other hand, we denounce with righteous indignation and dislike men who are so beguiled and
                    demoralized by the charms of pleasure of the moment, so blinded by desire, that they cannot foresee
                    the pain and trouble that are bound to ensue, and equal blame belongs to those who fail in their
                    duty through weakness of will</p>
            </div>
            <div class="row align-left">
                <div class="col-md-4">
                    <div class="feature-box space-30">
                        <div class="fbox-icon">
                            <a href="#"><span class="pe-7s-light"></span></a>
                        </div>
                        <div class="fbox-body">
                            <h4 class="fbox-title">CREATIVE DESIGN</h4>
                            <p>Lorem ipsum dolar sit amet</p>
                        </div>
                    </div>
                </div>
                <!-- End col-md-4 -->
                <div class="col-md-4">
                    <div class="feature-box space-30">
                        <div class="fbox-icon">
                            <a href="#"><span class="pe-7s-gift"></span></a>
                        </div>
                        <div class="fbox-body">
                            <h4 class="fbox-title">OPTIMIZATION</h4>
                            <p>Lorem ipsum dolar sit amet</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="feature-box space-30">
                        <div class="fbox-icon">
                            <a href="#"><span class="pe-7s-tools"></span></a>
                        </div>
                        <div class="fbox-body">
                            <h4 class="fbox-title">EASY TO CUSTOMIZE</h4>
                            <p>Lorem ipsum dolar sit amet</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="feature-box space-30">
                        <div class="fbox-icon">
                            <a href="#"><span class="pe-7s-refresh-2"></span></a>
                        </div>
                        <div class="fbox-body">
                            <h4 class="fbox-title">SUPPORT 24/7</h4>
                            <p>Lorem ipsum dolar sit amet</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="feature-box space-30">
                        <div class="fbox-icon">
                            <a href="#"><span class="pe-7s-graph2"></span></a>
                        </div>
                        <div class="fbox-body">
                            <h4 class="fbox-title">DEVELOPMENT</h4>
                            <p>Lorem ipsum dolar sit amet</p>
                        </div>
                    </div>
                </div>
                <!-- End col-md-4 -->
                <div class="col-md-4">
                    <div class="feature-box space-30">
                        <div class="fbox-icon">
                            <a href="#"><span class="pe-7s-gift"></span></a>
                        </div>
                        <div class="fbox-body">
                            <h4 class="fbox-title">GIFT FOR MEMBER</h4>
                            <p>Lorem ipsum dolar sit amet</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="our-team">
        <div class="container container-ver2 center">
            <div class="head">
                <h3>Meet Our Team</h3>
                <p>We Are The Best Team</p>
            </div>
            <!-- End head -->
            <div class="row">
                <div class="col-md-4 col-sm-4 space-30">
                    <div class="interactive-banner interactive-banner-v1 center">
                        <div class="interactive-banner-body">
                            <img class="img-responsive" src="{% static 'assets/images/user1.jpg' %}" alt="images">
                        </div>
                    </div>
                    <div class="banner-title">
                        <h3>Jason Ford</h3>
                        <p>Designer</p>
                        <div class="interactive-banner-profile text-center">
                            <div class="action light-style">
                                <a href="#"><i class="icons icons-bodered radius-x fa fa fa-facebook"></i></a>
                                <a href="#"><i class="icons icons-bodered radius-x fa fa-twitter"></i></a>
                                <a href="#"><i class="icons icons-bodered radius-x fa fa-pinterest"></i></a>
                                <a href="#"><i class="icons icons-bodered radius-x fa fa-dribbble"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End col-md-4 -->
                <div class="col-md-4 col-sm-4 space-30">
                    <div class="interactive-banner interactive-banner-v1 center">
                        <div class="interactive-banner-body">
                            <img class="img-responsive" src="{% static 'assets/images/user1.jpg' %}" alt="images">

                        </div>
                    </div>
                    <div class="banner-title">
                        <h3>Jason Ford</h3>
                        <p>Designer</p>
                        <div class="interactive-banner-profile text-center">
                            <div class="action light-style">
                                <a href="#"><i class="icons icons-bodered radius-x fa fa fa-facebook"></i></a>
                                <a href="#"><i class="icons icons-bodered radius-x fa fa-twitter"></i></a>
                                <a href="#"><i class="icons icons-bodered radius-x fa fa-pinterest"></i></a>
                                <a href="#"><i class="icons icons-bodered radius-x fa fa-dribbble"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End col-md-4 -->
                <div class="col-md-4 col-sm-4 space-30">
                    <div class="interactive-banner interactive-banner-v1 center">
                        <div class="interactive-banner-body">
                            <img class="img-responsive" src="{% static 'assets/images/user1.jpg' %}" alt="images">
                        </div>
                    </div>
                    <div class="banner-title">
                        <h3>Jason Ford</h3>
                        <p>Designer</p>
                        <div class="interactive-banner-profile text-center">
                            <div class="action light-style">
                                <a href="#"><i class="icons icons-bodered radius-x fa fa fa-facebook"></i></a>
                                <a href="#"><i class="icons icons-bodered radius-x fa fa-twitter"></i></a>
                                <a href="#"><i class="icons icons-bodered radius-x fa fa-pinterest"></i></a>
                                <a href="#"><i class="icons icons-bodered radius-x fa fa-dribbble"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>